body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

#openButton {
    background-color: #213555;
    color: #F5EFE7;
    padding: 10px 20px;
    border: 20px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 20px;

}

.square-box {
    max-width: 600px;
    min-height: 600px;
    border: 1px solid #F3E9DD;
    background-color: #F3E9DD;
}

#map {
    height: 100vh;
    width: 75vw;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

*{
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    padding:0;
    margin:0;
}

.containerLocations{
    display:flex;
}

.locationsList{
    width:25vw;
    height:100vh;
    overflow: auto;
    background: whitesmoke;
}